name: Generate snake animationMore actions

on:
  schedule:
    - cron: "15 * * * *"
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate snake.svg
        uses: Platane/snk/svg-only@e2cedf76a2c05b25d09a6428ded69727b497a700 
        with:
          github_user_name: OopsAnushka
          outputs: dist/snake.svg?palette=custom&color_snake=#ffffff&color_dots=#2a2a2a,#0e4429,#006d32,#26a641,#39d353

      - name: push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@c0d7ff0487ee0415efb7f32dab10ea880330b1dd 
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
